<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <body>
    <h1><%= title %></h1>
    <p><a href="/entropy">Aufgabe 2: Häufigkeitsverteilung</a></p>

    <form id="caesar-form" method="POST" action="/caesar">
      <div class="form-group">
        <label for="inputText">Your text here:</label>
        <textarea class="form-control" name="inputText" id="inputText" oninput='this.style.height = "";this.style.height = this.scrollHeight + 3 + "px"'></textarea>
      </div>

      <div class="form-group">
        <label for="shift">Cipher-Shift</label>
        <input type="number" id="shift" name="shift" value="0" maxlength="2" min="-25" max="25"> </input>
      </div>
      <button type="submit" name="customKey">De-/Encode</button>
      <button type="submit" name="bruteForce">Brute Force</button>


    </form>

    <% if (showResult) { %>
      <h3>Text after applying cipher: <%= shift %> (or <%= altShift %>)</h3>
      <textarea readonly class="form-control" style="resize: none; field-sizing: content">
        <%= shiftedText %>
      </textarea>

      <h3>Original text</h3>
      <div class="form-group">
        <textarea readonly class="form-control" style="resize: none; field-sizing: content;">
          <%= originalText %>
        </textarea>
      </div>
    <% } %>

    <p><a href="/">Back to main</a></p>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>
