<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <body>
    <h1><%= title %></h1>
    <p><a href="/caesar">Aufgabe 3: Caesar-Cipher</a></p>
    <form id="entropy-form" method="POST" action="/entropy">
      <div class="form-group">
        <label for="inputText"></label>
        <input type="text" class="form-control" name="inputText" id="inputTexbt" rows="3"></input>

      </div>
      <button type="submit">Try</button>
    </form>
    <% if (calculateResult){ %>
      <div>
        <p>Originaltext:</p>
        <p><%=originalText%></p>
      </div>


      <table>
        <tr>
          <th>Buchstabe</th>
          <th>Absolute Häufigkeit</th>
          <th>Relative Häufigkeit</th>
          <th>Informationsgehalt</th>
        </tr>
        <% for (var i = 0; i < 26; i ++){ %>
          <tr>
            <td><%= String.fromCharCode(i + 97) %></td>
            <td><%= absolute[i] %></td>         
            <td><%= relative[i].toFixed(3) %></td>
            <td><%= informationContent[i].toFixed(3) %></td>
          </tr>
        <% } %>
        <tr>
          <td>ä</td>
          <td><%= absolute[26] %></td>         
          <td><%= relative[26].toFixed(3) %></td>
          <td><%= informationContent[26].toFixed(3) %></td>
        </tr>
        <tr>
          <td>ö</td>
          <td><%= absolute[27] %></td>         
          <td><%= relative[27].toFixed(3) %></td>
          <td><%= informationContent[27].toFixed(3) %></td>
        </tr>
        <tr>
          <td>ü</td>
          <td><%= absolute[28] %></td>         
          <td><%= relative[28].toFixed(3) %></td>
          <td><%= informationContent[28].toFixed(3) %></td>
        </tr>
      
          
      </table>
    <% } %>


    <p><a href="/">Back to main</a></p>

  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>
